@use "./scss/index";

* {
  margin: 0;
}

html {
  position: relative;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "home"
    // "blank1"
    "skills"
    // "blank2"
    "projects"
    // "blank3"
    "experience"
    // "blank4"
    "testimonials"
    // "blank5"
    "contact";

  .progress-bar {
    position: fixed;
    width: 100vh;
    rotate: 90deg;
    top: -10px;
    left: 0;
    right: 0;
    height: 20px;
    background: var(--project-color);
    transform-origin: 0%;
  }

  // Blank areas between pages
  .b-blank {
    grid-area: blank1, blank2, blank3, blank4, blank5;
    min-height: 50vh;
    background-color: transparent;
  }

  // Set sizes and transparent bg
  .b-home,
  .b-skills,
  .b-experience,
  .b-projects,
  .b-testimonials,
  .b-about,
  .b-contact {
    min-height: 100vh;
    min-width: 100vw;
    background: transparent;
  }

  // Set Grid Areas
  .b-home {
    grid-area: home;
    // background-image: url("./assets/background.svg");
  }
  .b-skills {
    grid-area: skills;
  }
  .b-experience {
    grid-area: experience;
  }
  .b-projects {
    grid-area: projects;
  }
  .b-testimonials {
    grid-area: testimonials;
  }
  .b-contact {
    grid-area: contact;
  }

  // Special sizing
  .b-projects {
    min-height: 100vh;
  }

  .b-skills {
    max-height: 160vh;

    @media (min-width: 1024px) {
      max-height: 215vh;
    }
  }

  .b-testimonials {
    @media (max-width: 800px) {
      min-height: 120vh;
    }

    @media (max-width: 500px) {
      min-height: 145vh;
    }
  }
}
