@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@keyframes marquee {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(-400vw);
  }
}
@keyframes reverseMarquee {
  0% {
    transform: translateX(-50vw);
  }
  48% {
    transform: translateX(250vw);
  }
  52% {
    transform: translateX(250vw);
  }
  100% {
    transform: translateX(-50vw);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(-200vh);
  }
  100% {
    transform: translateY(-500vh);
  }
}
.b-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 20px;
}
.b-navbar a {
  cursor: pointer;
}
.b-navbar__logo {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  color: #22473d;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
}
.b-navbar__hamburger {
  position: absolute;
  right: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .b-navbar__hamburger {
    display: none;
  }
}
.b-navbar__wrapper {
  position: absolute;
  top: 50px;
  right: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .b-navbar__wrapper {
    top: 10px;
    flex-direction: row;
  }
}
.b-navbar__wrapper__link {
  list-style: none;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: #333;
  padding: 0 10px;
}
.b-navbar__wrapper__link a {
  color: #333;
  text-decoration: none;
  font-weight: 100;
}
.b-navbar__wrapper__link a:visited {
  color: #333;
}

.socials ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}
.socials ul li a {
  color: #22473d;
  text-decoration: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(246, 246, 246, 0.9843137255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-logo {
  z-index: 150;
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  color: #22473d;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  cursor: pointer;
}

.popup-content {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.popup-close {
  background: none;
  border: none;
  font-size: 50px;
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  z-index: 150;
}

#root {
  background-color: #ffffff;
}

.b-home {
  min-width: 100%;
  min-height: 500px;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.b-home__background {
  background-size: cover;
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 2;
}
.b-home__title h1 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
  text-align: start;
  font-size: 15vw;
  color: #22473d;
  padding: 0;
}
.b-home__title p {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
}
.b-home__banner {
  position: absolute;
  top: 40vh;
  max-width: 100vw;
  font-family: "Impact", sans-serif;
  letter-spacing: -10px;
  font-weight: bold;
  font-size: 170px;
  text-wrap: nowrap;
  animation: 200s infinite marquee;
  color: #22473d;
  mix-blend-mode: hue;
  z-index: 3;
}
.b-home__socials {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.b-home__halftone {
  max-height: 40vh;
  width: 100vw;
  --mask: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0.3));
  --stop1: 0.06rem;
  --stop2: 1.5rem;
  --invert: 1;
  --dotColor: white;
  --bgColor: black;
  --dottedBackground: radial-gradient(
    circle at center,
    var(--dotColor) var(--stop1),
    transparent var(--stop2)
  );
  aspect-ratio: 1;
  position: relative;
  background: var(--bgColor);
  filter: contrast(50) invert(var(--invert, 0));
  mix-blend-mode: exclusion;
  isolation: isolate;
}
.b-home__halftone::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--dottedBackground);
  background-size: var(--bgSize, 1rem) var(--bgSize, 1rem);
  background-repeat: round;
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
  mask-image: var(--mask);
}

.b-contact {
  --min-width: 80%;
  --max-width: 100%;
  --max-height: 200px;
  --min-height: 100px;
}
.b-contact__content {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 90vh;
  justify-content: center;
  align-items: center;
}
.b-contact__title {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
  font-size: 6.5vw;
  font-weight: 900;
  letter-spacing: -1vw;
  font-style: italic;
}
.b-contact__title p {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
  letter-spacing: 0;
  padding: 0 24px;
}
.b-contact__title h1 {
  margin: -2vh;
}
.b-contact__title--3 {
  text-align: center;
}
.b-contact__form {
  justify-self: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-width: var(--min-width);
  width: 80%;
}
.b-contact__label {
  text-align: left;
  padding-top: 10px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-style: italic;
  background: #000000;
  color: #ffffff;
  mix-blend-mode: exclusion;
}
.b-contact__input {
  max-width: var(--max-width);
  width: 90%;
  height: 36px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 10px;
  border-bottom: #22473d;
  color: #22473d;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 10px 0;
  padding-left: 20px;
  margin-right: -10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}
.b-contact__input:focus {
  outline: 3px solid #06c073;
}
.b-contact__textArea {
  min-width: var(--min-width);
  max-width: var(--max-width);
  max-height: var(--max-height);
  min-height: var(--min-height);
  width: 90%;
  padding: 10px;
}
.b-contact__send {
  border: none;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #22473d;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  box-shadow: 5px 5px #c7c7c7;
}
.b-contact__send:hover {
  scale: 1.02;
  border: 2px solid #22473d;
  box-shadow: 10px 10px #06c073;
}
.b-contact__send:active {
  background-color: #22473d;
  color: #ffffff;
  box-shadow: 5px 5px #06c073;
}
.b-contact .socials {
  position: absolute;
  right: 3vw;
}

.b-about__content {
  display: grid;
  grid-template-columns: 20% 25% 25% 20% 20%;
  grid-template-rows: 10% 30% 15% 20% 20% 20% 5%;
  min-height: 300px;
}
@media (max-width: 920px) {
  .b-about__content {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20%;
    gap: 20px;
  }
}
.b-about__name {
  margin-bottom: 30px;
}
.b-about__bold {
  font-weight: 900;
  letter-spacing: normal;
  margin-bottom: 14px;
}
.b-about__title {
  grid-column: 1/3;
  grid-row: 3;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
  font-size: 42px;
  letter-spacing: -0.2vw;
  text-wrap: nowrap;
  margin: auto;
}
@media (max-width: 920px) {
  .b-about__title {
    grid-column: 1;
    grid-row: 2;
    font-size: 32px;
    margin: 0 auto;
  }
}
.b-about__description {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
  letter-spacing: normal;
  grid-column: 1/4;
  grid-row: 5/6;
  margin: auto;
  max-width: 600px;
  text-align: left;
  border-right: 4px solid black;
  min-height: 200px;
}
@media (max-width: 920px) {
  .b-about__description {
    grid-column: 1;
    grid-row: 3;
    border-right: none;
  }
}
.b-about__description p {
  padding: 4px 36px;
}
@media (max-width: 920px) {
  .b-about__description p {
    padding: 4px 20px;
  }
}
.b-about__right {
  grid-row: 5/6;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-wrap: nowrap;
}
@media (max-width: 920px) {
  .b-about__right {
    grid-column: 1;
    grid-row: 5;
    margin: auto;
    margin-top: 10px;
    flex-direction: row;
    text-align: center;
  }
}
.b-about__right h3,
.b-about__right h5,
.b-about__right p,
.b-about__right li {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 300;
  padding-left: 2vw;
  padding: 0;
  font-weight: 800;
}
.b-about__right h3 {
  font-size: 24px;
}
.b-about__right h5 {
  font-size: 14px;
  letter-spacing: -0.4px;
}
.b-about__right p,
.b-about__right li {
  padding: 0 14px;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 920px) {
  .b-about__availability {
    padding-top: 0;
    padding: 14px;
  }
}
.b-about__services {
  padding-top: 20px;
}
@media (max-width: 920px) {
  .b-about__services {
    padding-top: 0;
    padding: 14px;
  }
}
.b-about__services ul {
  text-align: left;
  list-style-type: none;
}
.b-about__contact {
  margin-top: 30vh;
  text-align: center;
}
.b-about__contact h2 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
  font-size: 24px;
  letter-spacing: -1.4px;
}
.b-about__contact p {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
  letter-spacing: normal;
}
.b-about__contact a {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.b-about__contact a:hover {
  padding: 5px;
  box-shadow: 4px 4px 0 #06c073;
}
@media (max-width: 920px) {
  .b-about__contact {
    display: none;
  }
}

.b-projects {
  overflow: hidden;
  position: relative;
}
.b-projects__cardList {
  position: absolute;
  top: -15vh;
  left: 20vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  height: 1000px;
  max-width: 60vw;
  width: 100%;
  margin: auto;
}
.b-projects__cardList__title {
  font-weight: 600;
  z-index: 1;
  color: black;
  margin: 0;
  padding: 5px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
  font-size: 50px;
  letter-spacing: -3px;
  text-align: start;
}
.b-projects__cardList .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  transition: height 0.5s ease, padding 0.5s ease;
  cursor: pointer;
  border-top: 0.1px solid black;
  position: relative;
  height: 50px;
}
.b-projects__cardList .card:hover, .b-projects__cardList .card.active {
  height: 250px;
}
.b-projects__cardList .card__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.b-projects__cardList .card__title {
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 1;
  color: #333;
  margin: 0;
  padding: 5px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
}
.b-projects__cardList .card__description {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 2vw;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.b-projects__cardList .card__date {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 2vw;
  position: absolute;
  bottom: 15px;
  font-weight: 800;
  font-size: 30px;
}
.b-projects__cardList .card__description, .b-projects__cardList .card__date {
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}
.b-projects__cardList .card__button {
  background-color: #333;
  padding: 10px;
  color: white;
  border: none;
  z-index: 1;
  transition: background-color 0.3s ease;
}
.b-projects__cardList .card:hover .card__description, .b-projects__cardList .card:hover .card__date, .b-projects__cardList .card:hover .card__title, .b-projects__cardList .card.active .card__description, .b-projects__cardList .card.active .card__date {
  opacity: 1;
  color: #0056b3;
}
.b-projects__cardList .card:hover .card__button, .b-projects__cardList .card.active .card__button {
  background-color: #0056b3;
}
.b-projects__cardList .empty {
  height: 0;
  visibility: hidden;
}
.b-projects__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 60vw;
  border-top: 0.1px solid #333;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
}
.b-projects__svg {
  z-index: 0;
  position: absolute;
  top: -30vh;
  left: 5vw;
  height: 100%;
  width: 90%;
}

svg.svgsquare {
  overflow: visible;
}

svg.svgsquare text {
  font-family: "Impact", sans-serif;
  letter-spacing: 1px;
  font-size: 100px;
}

@media only screen and (max-width: 800px) {
  .b-projects__title {
    text-align: left;
  }
  .b-projects__cardList {
    max-width: 80vw;
    top: -20vh;
    left: 10vw;
    margin: 0;
    padding: 0;
  }
  .b-projects__cardList .card {
    height: 60px;
  }
  .b-projects__cardList .card__title {
    font-size: 36px;
  }
  .b-projects__cardList .card__button {
    width: 30%;
  }
  .b-projects__cardList .card__description, .b-projects__cardList .card__date {
    z-index: 1;
    color: #0056b3;
    font-size: 13px;
  }
  .b-projects__bottom {
    max-width: 80vw;
    font-size: 12px;
  }
  .b-projects__svg {
    display: none;
  }
  .b-projects .empty {
    display: none;
  }
}
.b-experience__title {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
  text-align: left;
}
.b-experience__timeline {
  display: grid;
  grid-template-columns: 25% 5% 70%;
  grid-template-rows: 175px 175px 50px 200px;
  max-width: 800px;
  margin: auto;
  padding-top: 75px;
}
.b-experience__timeline__line {
  grid-column: 1/5;
  grid-row: 4;
  width: 20%;
  height: 1px;
  background-color: black;
  margin: auto;
}
.b-experience__timeline__title {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 300;
  padding-left: 2vw;
  grid-column: 1;
}
.b-experience__timeline__entry {
  display: flex;
  flex-direction: row;
  grid-column: 3;
}
.b-experience__timeline__entry__date {
  min-width: 200px;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 2vw;
  font-weight: 200;
}
.b-experience__timeline__entry__role {
  min-width: 400px;
}
.b-experience__timeline__entry__role h4 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1px;
}
.b-experience__timeline__entry__role h5 {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 300;
  padding-left: 2vw;
  padding: 0;
  font-size: 18px;
  font-weight: 200;
}
.b-experience__timeline__entry__role p {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
  padding: 10px 0;
  font-size: 22px;
}
.b-testimonials {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 30% 70%;
  justify-content: center;
  align-items: center;
}
.b-testimonials__header {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  padding: 0;
}
.b-testimonials__header h1 {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 300;
  padding-left: 2vw;
  color: #06c073;
  font-size: 50px;
  font-weight: 500;
  text-wrap: nowrap;
}
.b-testimonials__header svg {
  margin-top: 1vh;
  margin-left: 80vw;
}
.b-testimonials__swiper {
  height: 100%;
  width: 100%;
  grid-row: 2;
}
.b-testimonials__content {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
  letter-spacing: 0;
}
.b-testimonials__content p {
  padding: 15px 15%;
}
.b-testimonials__name {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 300;
  padding-left: 2vw;
  text-align: center;
  width: 120%;
}
.b-testimonials__name h1 {
  font-size: 32px;
  padding: 0;
}
.b-testimonials__name h4 {
  font-size: 24px;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-skills {
  --gap: 1.5vw;
  position: relative;
}
.b-skills__languages {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
}
.b-skills__languages h1 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5vw;
  font-size: 8vw;
  padding-left: 2vw;
}
.b-skills__languages__databases {
  font-family: "Inter", sans-serif;
  font-size: 2.5vw;
  letter-spacing: -1px;
  font-weight: 200;
  align-self: flex-end;
  text-align: end;
  max-width: 30vw;
  margin: -8vh 3vw 3vw 0px;
}
.b-skills__pillBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
  margin-top: 2vh;
}
.b-skills__pillBox ul {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  transition: 0.2s margin ease-in-out;
}
.b-skills__pillBox ul li {
  min-width: 15vw;
  min-height: 2vw;
  list-style: none;
  border: 1px solid #333;
  box-shadow: 0px 1px 0px #333;
  font-size: 2.3vw;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}
.b-skills__pillBox .pill {
  text-align: center;
  border-radius: 3vw;
  padding: 1vh;
  padding-top: 1.5vh;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 1px 0px #333;
}
.b-skills__pillBox .pill:hover {
  padding: 10px;
  box-shadow: 0px 6px 0px #333;
}
.b-skills__pillBox--1, .b-skills__pillBox--3, .b-skills__pillBox--5 {
  margin-left: -10vw;
}
.b-skills__pillBox--2, .b-skills__pillBox--4, .b-skills__pillBox--6 {
  margin-left: -15vw;
}
.b-skills__pillBox svg {
  transition: 0.2s ease-in-out;
}
.b-skills__pillBox svg:hover {
  scale: 1.05;
}
.b-skills__subtitle {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 300;
  padding-left: 2vw;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  padding-top: 10vh;
}
.b-skills__other {
  padding: 10vh 0;
  width: 100vw;
}
.b-skills__other__sliders {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.b-skills__other__sliders ul {
  padding: 0;
}
.b-skills__other__sliders ul li {
  border: none;
}
.b-skills__other__sliders .slider {
  list-style: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 32vw;
  text-wrap: nowrap;
  padding: 1vh;
  color: #333;
}
.b-skills__other__sliders .slider label {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  display: block;
  font-size: 24px;
  margin-bottom: 2px;
}
.b-skills__other__sliders .slider input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 10px;
  outline: none;
  /* Track */
  /* Thumb (handle) */
}
.b-skills__other__sliders .slider input[type=range]::-webkit-slider-runnable-track {
  height: 12px;
  background: linear-gradient(90deg, #06c073, #06c073);
  border-radius: 10px;
}
.b-skills__other__sliders .slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; /* Customize size */
  height: 25px;
  border-radius: 50%;
  background-color: #22473d;
  cursor: pointer;
  margin-top: -10px; /* To align the thumb with the track */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.b-skills__also {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}
.b-skills__also h4 {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 2vw;
  font-weight: 600;
  padding: 0;
  text-align: center;
}
.b-skills__also p {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 2vw;
  text-align: left;
  letter-spacing: normal;
}

* {
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "home" "skills" "projects" "experience" "testimonials" "contact";
}
#root .b-home {
  grid-area: home;
}
#root .b-skills {
  grid-area: skills;
}
#root .b-experience {
  grid-area: experience;
}
#root .b-projects {
  grid-area: projects;
}
#root .b-testimonials {
  grid-area: testimonials;
}
#root .b-contact {
  grid-area: contact;
}
#root .b-home,
#root .b-about,
#root .b-experience,
#root .b-testimonials,
#root .b-contact {
  min-height: 100vh;
  min-width: 100vw;
}
#root .b-projects {
  min-height: 120vh;
}
#root .b-skills {
  max-height: 160vh;
}
@media (min-width: 1024px) {
  #root .b-skills {
    max-height: 215vh;
  }
}
@media (max-width: 800px) {
  #root .b-testimonials {
    min-height: 120vh;
  }
}
@media (max-width: 500px) {
  #root .b-testimonials {
    min-height: 145vh;
  }
}/*# sourceMappingURL=global.css.map */