@use "./scss/index";

* {
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "home"
    "skills"
    "projects"
    "experience"
    "testimonials"
    "contact";

  .b-home {
    grid-area: home;
    // background-image: url("./assets/background.svg");
  }
  .b-skills {
    grid-area: skills;
  }
  .b-experience {
    grid-area: experience;
  }
  .b-projects {
    grid-area: projects;
  }
  .b-testimonials {
    grid-area: testimonials;
  }
  .b-contact {
    grid-area: contact;
  }

  .b-home,
  .b-about,
  .b-experience,
  .b-testimonials,
  .b-contact {
    min-height: 100vh;
    min-width: 100vw;
  }

  .b-projects {
    min-height: 100vh;
  }

  .b-skills {
    max-height: 160vh;

    @media (min-width: 1024px) {
      max-height: 215vh;
    }
  }

  .b-testimonials {
    @media (max-width: 800px) {
      min-height: 120vh;
    }

    @media (max-width: 500px) {
      min-height: 145vh;
    }
  }
}
