@use "./scss/index";

@font-face {
  font-family: "Druk Wide Bold";
  src: url("./assets/fonts/DrukWideBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Impact";
  src: url("./assets/fonts/impact.woff") format("woff");
  font-weight: bold;
}

// Declare any imported fonts or URLs on here because of react ruling
.b-home__title {
  font-family: "Plaster", sans-serif;
}

.b-contact__backdrop {
  background: url("./assets/IMG_3990.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 85vh;
  width: 98vw;

  position: absolute;
  top: 5vh;
  left: 1vw;
  z-index: 1;
}

* {
  margin: 0;
}

// Gets the invert from the ColorContext
html {
  transition: 0.4s ease-in-out;
  filter: invert(var(--invert));
  cursor: none;
  pointer-events:visiblePainted;

}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #E1001E;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: exclusion;
}

#root {
  z-index: 1;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 100vw;

  .page {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    z-index: 1;

    .page-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .responsiveness {
    width: 100vw;
    height: 100vh;
    background-color: var(--project-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__warning {
      font-family: "Inter", sans-serif;
      font-weight: 800;
      font-size: 24px;
      color: white;
      text-align: center;
      margin-top: auto;
      padding: 100px;
    }

    &__logo {
      margin: auto;
      max-width: 100px;
    }
  }

  #Skills {
    height: 85vh;
    max-height: 85vh;
    background-color: #f0f4f8;
    justify-content: flex-start;
  }

  #Projects {
    max-height: 100vh;
    background-color: #f0f4f8;
    justify-content: end;
  }

  #Experience {
    min-height: 170vh;
    background: transparent;
  }

  #Testimonials {
    max-height: 80vh;
    min-height: 80vh;
    background: transparent;
  }

  #Contact {
    min-height: 100vh;
    max-height: 100vh;
    scale: 1.05;
    z-index: 1;
    background: transparent;
  }

  #WhatIDo {
    justify-content: end;
    min-height: 110vh;
    max-width: 90vw;
    margin-left: 5vw;
    scale: 0.95;
  }

  .b-home {
    min-height: 100vh;
    min-width: 100vw;
    z-index: 100;
  }
}
