@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes increaseSize {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes moveDown {
  0% {
    transform: translateX(-210vh);
  }
  100% {
    transform: translateX(200vh);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-550vh);
  }
}
.b-home {
  min-width: 100%;
  min-height: 500px;
  height: 100vh;
  max-height: 100vh;
  mix-blend-mode: exclusion;
  position: relative;
}
.b-home__banner {
  display: flex;
  flex-direction: column;
  gap: 300px;
  height: 100vh;
  width: 25vw;
  min-width: 200px;
  font-family: "Bebas Neue", sans-serif;
  background-color: #000c16;
  position: absolute;
  left: 0;
}
.b-home__banner__text {
  display: flex;
  flex-direction: column;
  font-size: 89.5px;
  color: #fdfffc;
  rotate: 90deg;
  animation: 30s linear infinite moveDown;
  margin-left: -12px;
}
.b-home__banner2 {
  display: flex;
  flex-direction: column;
  gap: 300px;
  height: 100vh;
  width: 40vw;
  min-width: 200px;
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  left: 0;
}
.b-home__banner2__text {
  display: flex;
  flex-direction: column;
  font-size: 89.5px;
  color: #fdfffc;
  rotate: 90deg;
  animation: 25s linear infinite moveDown;
  margin-left: -12px;
}
.b-home__icons {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.b-home__laser {
  position: absolute;
  left: 25.5vw;
  background-color: #be1414;
  width: 10px;
  height: 100vh;
}
.b-home__projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 25vw;
  list-style: none;
  font-size: 100px;
}
.b-home__projects__list {
  height: 130px;
  margin: -20px 0;
  animation: 250s linear infinite moveUp;
}
.b-home__projects__list a {
  text-decoration: none;
  color: #000c16;
  font-family: "Bebas Neue", sans-serif;
  transition: 0.1s ease-in-out;
  padding: 0;
}
.b-home__projects__list a:hover {
  -webkit-text-stroke: 0.5px #be1414;
  color: rgba(0, 0, 0, 0);
  transform: translateX(100px);
}
.b-home__intro {
  position: absolute;
  max-width: 500px;
  bottom: 100px;
  right: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}
.b-home__intro__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.b-home__intro__name {
  color: #000c16;
  text-decoration: underline;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(20), blink 0.5s step-end infinite alternate;
}
.b-home__intro__flicker {
  font-size: xx-large;
  font-weight: 400;
  animation: 1.5s linear infinite flicker;
}
.b-home__intro__description {
  font-size: xx-large;
  font-weight: 100;
  padding: 10px 0;
}
.b-home__intro__about {
  font-size: large;
  font-weight: 300;
  padding: 10px 0;
}
.b-home__intro__about a {
  color: #000c16;
}
.b-home__intro__about a:visited {
  color: #000c16;
}

.b-navbar {
  z-index: 0;
}
.b-navbar__hamburger {
  position: absolute;
  right: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .b-navbar__hamburger {
    display: none;
  }
}
.b-navbar__wrapper {
  position: absolute;
  top: 50px;
  right: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .b-navbar__wrapper {
    top: 10px;
    flex-direction: row;
  }
}
.b-navbar__wrapper__link {
  list-style: none;
  font-size: xx-large;
  font-family: "Inter", sans-serif;
  color: #000c16;
  padding: 0 10px;
}
.b-navbar__wrapper__link a {
  color: #000c16;
  text-decoration: none;
  font-weight: 100;
}
.b-navbar__wrapper__link a:visited {
  color: #000c16;
}

.raft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  padding: 0 12px;
  margin: auto;
  font-family: "Inter", sans-serif;
  background-color: #000c16;
  color: #fdfffc;
  border-radius: 50%;
}

#root {
  overflow: hidden;
}

* {
  max-height: 100vh;
  margin: 0;
}/*# sourceMappingURL=global.css.map */