@use "./scss/index";

* {
  margin: 0;
}


#root {
  z-index: 1;
  position: relative;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "home"
    "projects"
    "skills"
    "experience"
    "testimonials"
    "contact";

  max-width: 100vw;
  overflow-x: hidden;

  // Set up for page snapping
  .pageContainer {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100vh;
    // background: transparent;

    .page {
      height: 100vh;

      display: flex;
      // justify-content: center;
      align-items: center;
      position: relative;
      scroll-snap-align: center;

      .page-title {
        font-family: "Impact", sans-serif;
        text-transform: uppercase;
        font-size: 3.35vw;
        letter-spacing: -0.15vw;
        line-height: 0.85;
        position:sticky;

        left: 1.5vw;
      }

      .page-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  // Blank areas between pages
  .b-blank {
    // grid-area: blank1, blank2, blank3, blank4, blank5;
    min-height: 50vh;
    background-color: transparent;
  }

  // Set sizes and transparent bg
  .b-home,
  .b-skills,
  .b-experience,
  .b-projects,
  .b-testimonials,
  .b-about,
  .b-contact {
    min-height: 100vh;
    min-width: 100vw;
    background: transparent;
    
  }

  // Set Grid Areas
  .b-home {
    // position: ƒixed;
    // top: 0;

    grid-area: home;
    z-index: 100;
  }

  .b-skills {
    grid-area: skills;
    z-index: 15;


    @media (min-width: 1024px) {
      max-height: 215vh;
    }
  }

  .b-experience {
    grid-area: experience;
    z-index: 20;
    height: 140vh;
  }

  .b-projects {
    min-height: 100vh;
    grid-area: projects;
    z-index: 25;
  }
  .b-testimonials {
    grid-area: testimonials;
    z-index: 30;

    @media (max-width: 800px) {
      min-height: 120vh;
    }

    @media (max-width: 500px) {
      min-height: 145vh;
    }
  }
  .b-contact {
    grid-area: contact;
    z-index: 35;
  }
}
