@use "../variables" as *;
@use "../mixins" as *;



.b-experience {
  min-height: 170vh;
  @include flexColumn;

  &__title {
    @include pageTitle;
    font-size: 9vw;
    margin-right: auto;
  }

  &__timeline {
    max-width: 900px;
    margin: auto;
    padding: 20px;

    &__line {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      transform-origin: top;
      background: $mainColor;
      min-width: 10px;
      min-height: 10px;
    }

    &__title {
      @include sectionTitle;

      grid-column: 1;
      padding: 20px 0;
    }

    &__subtitle {
      @include subTitle;
      font-size: 2.5vw;
      padding: 20px 0;
    }

    &__subheading {
      @include subTitle;
      padding: 12px 0;
      font-size: 1.4vw;
    }

    .certificates {

      li {
        font-size: 16px;
      }

      h4 {
        font-size: 22px;
        font-weight: 700;
      }

      p {
        font-size: 16px;
      }
    }

    &__entry {
      @include flexRow;
      grid-column: 3;
      padding: 2vh 0;

      &__date {
        min-width: 200px;
        @include subTitle;
        padding: 0;
        font-weight: 200;
      }

      &__role {
        min-width: 400px;

        h4 {
          @include pageTitle;
          padding: 0;
          font-size: 32px;
          font-weight: 900;
          letter-spacing: -1px;
        }

        h5 {
          @include sectionTitle;
          padding: 0;
          font-size: 18px;
          font-weight: 200;
        }

        p {
          @include pageTitle;
          font-size: 20px;

          letter-spacing: normal;
          padding: 10px 0;
        }

        li {
          @include pageTitle;
          font-size: 16px;
          letter-spacing: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .b-experience {
    &__timeline {
      @include flexColumn;
      padding: 0;
      width: 100%;

      &__entry {
        @include flexRow;
        width: 100%;
        margin-bottom: 20px;

        &__date {
          max-width: 220px;
          min-width: 220px;
          font-size: 24px;
          width: 100%;
          margin-bottom: 5px;
        }

        &__role {
          min-width: 100px;
          max-w h5 {
            font-size: 14px;
          }
          h4 {
            font-size: 22px;
          }

          p {
            font-size: 20px;
          }
        }
      }

      &__line {
        display: none;
      }

      &__title {
        margin-bottom: 10px;
      }
    }
  }
}
