@use "../variables" as *;
@use "../mixins" as *;

.b-home {
  min-width: 100%;
  min-height: 500px;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: $black;
  mix-blend-mode: exclusion;

  &__title {
    z-index: 1001;
    color: $black;
    font-size: 90px;
  }

  // background-color: #84c0b0;
  // background-color: #40adfb;
  // background-color: #ffa600;

  &__socials {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}
