@use "../variables" as *;
@use "../mixins" as *;

.b-home {
  min-width: 100%;
  min-height: 500px;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  // display: grid;
  // grid-template-columns: 100%;
  // grid-template-rows: 50vh 50vh;


  &__background {
    background-size: cover;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    left: 25%;

    // background-color: #84c0b0;
    // background-color: #40adfb;
    // background-color: #ffa600;
    z-index: 1;
  }

  &__title {
    grid-row: 2;
    h1 {
      @include pageTitle;
      text-align: start;
      font-size: 15vw;
      color: $fontHighlights;
      padding: 0;
    }

    p {
      @include mainBodyText;
      font-size: 10vw;
      padding: 0;
    }

  }

  &__banner {
    position: absolute;
    top: 40vh;
    max-width: 100vw;
    
    font-family: $headerFont;
    letter-spacing: $largeLetterSpacing;
    font-weight: bold;
    font-size: 170px;
    text-wrap: nowrap;
    animation: $marquee;
    color: $fontHighlights;
    mix-blend-mode:hue;
    z-index: 3;
  }

  &__socials {
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  &__halftone {
    max-height: 40vh;
    width: 100vw;
    --mask: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0.3));
    --stop1: 0.06rem;
    --stop2: 1.5rem;
    --invert: 1;
    --dotColor: white;
    --bgColor: black;
    --dottedBackground: radial-gradient(
      circle at center,
      var(--dotColor) var(--stop1),
      transparent var(--stop2)
    );

    aspect-ratio: 1;
    position: relative;
    background: var(--bgColor);
    filter: contrast(50) invert(var(--invert, 0));
    mix-blend-mode: exclusion;
    isolation: isolate;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: var(--dottedBackground);
      background-size: var(--bgSize, 1rem) var(--bgSize, 1rem);
      background-repeat: round;
      background-position: 0 0, var(--bgPosition) var(--bgPosition);
      mask-image: var(--mask);
    }
  }
}

