@use "../variables" as *;
@use "../mixins" as *;


.b-home {
  min-width: 100%;
  min-height: 1400px;
  height: auto;
  position: relative;
  z-index: 1;
  

  &__title {
    z-index: 2;
    color: $mainColor;
    // mix-blend-mode: exclusion;
    text-align: center;
  
    h1 {
      font-family: $siteTitle;
      text-transform: uppercase;
      font-size: 17.35vw;
      letter-spacing: -.6vw;
      line-height: .85;
      
      padding-top: 15vh;
    }
    h3 {
      font-family: $subFont;
      font-weight: 300;
      font-size: 2.5vw;
      text-transform: uppercase;
    }
  }

  &__image {    
    img {
      width: 80vw;
      max-width: 80vw;
      max-height: 600px;
      margin-top: 10vw;
      border-radius: 50px;
      object-fit: cover;
      margin-left: 10vw;
    }
  }

  &__nightMode {
    position: absolute;
    bottom: 5vh;
    right: 10vw;
    z-index: 1;

    svg {
      transition: .1s ease-in-out;

      scale: 5;
      &:hover {
        scale: 5.2;
      }
    }
  }

  .cobweb {
    position: absolute;
    top: 0;
    left: 15vw;
    z-index: -1;
    transition: .1s ease-in-out;

    scale: 30;
    color: #006bbc;
  }

  // background-color: #84c0b0;
  // background-color: #40adfb;
  // background-color: #ffa600;

  &__socials {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}
