@use "../variables" as *;
@use "../mixins" as *;

.b-projects {
  &__explanation {
    @include flexColumn;
    justify-content: flex-end;
    width: 20vw;
    height: 100vh;
    align-self: flex-start;

    h1 {
      @include pageTitle;
      text-wrap: nowrap;
      font-size: 60px;
      letter-spacing: -0.2vw;
      font-weight: 900;
      margin-bottom: 17.5vh;
      padding: 2vw;
      rotate: -90deg;
    }
  }

  &__cardList {
    z-index: 1;

    @include flexColumn;
    justify-content: center;

    height: 100vh;
    max-width: 60vw;
    width: 100%;
    margin: auto;

    a {
      cursor: pointer;
  
      text-decoration: none;
      color: #333;
    }

    &__title {
      font-weight: 600;
      z-index: 1;
      color: black;
      margin: 0;
      padding: 5px;

      @include pageTitle;
      font-size: 50px;
      letter-spacing: -3px;

      text-align: start;
    }

    .card {
      @include flexRow;
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;
      width: 100%;
      transition: height 0.5s ease, padding 0.5s ease;
      cursor: pointer;

      border-top: 0.1px solid black;

      position: relative;
      height: 15vh;

      &:hover,
      &.active {
        height: 250px;
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
      }

      &__title {
        font-size: 4vw;
        font-weight: 600;
        z-index: 1;
        color: #333;
        margin: 0;
        padding: 5px;

        @include pageTitle;
      }

      &__description {
        @include subTitle;
        position: absolute;
        bottom: 15px;
        right: 10px;
      }

      &__date {
        @include subTitle;
        position: absolute;
        bottom: 15px;
        font-weight: 800;
        font-size: 30px;
      }

      &__description,
      &__date {
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s ease;
      }

      &__button {
        background-color: #333;
        padding: 10px;
        color: white;
        border: none;
        z-index: 1;
        transition: background-color 0.3s ease;
      }

      &:hover .card__description,
      &:hover .card__date,
      &:hover .card__title,
      &.active .card__description,
      &.active .card__date {
        opacity: 1;
        color: $mainColor;
      }

      &:hover .card__button,
      &.active .card__button {
        background-color: $mainColor;
      }
    }
    .empty {
      height: 0;
      visibility: hidden;
    }
  }

  &__bottom {
    @include flexRow;
    justify-content: space-between;
    border-top: 0.1px solid #333;

    @include mainBodyText;
  }

  &__svg {
    rotate: 180deg;
    z-index: 0;
    position: absolute;
    top: 7.5vh;
    left: 5vw;
    height: 100%;
    width: 90%;
  }
}

// Responsiveness
@media only screen and (max-width: 800px) {
  #Projects {
    max-height: 80vh;
  }

  .b-projects {
    &__explanation {
      display: none;

      h1 {
        font-size: 30px;
        margin-bottom: 100vh;
        padding: 2vw;
        rotate: -90deg;
      }
    }

    &__cardList {
      position: relative;
      max-width: 90vw;
      left: 5vw;
      margin: 0;
      padding: 0;

      .card {
        height: 120px;

        &__title {
          font-size: 36px;
        }
        &__button {
          width: 30%;
        }

        &__description,
        &__date {
          z-index: 1;
          color: #0056b3;
          font-size: 13px;
        }
      }
    }

    &__bottom {
      max-width: 80vw;
      font-size: 12px;
    }

    &__svg {
      display: none;
    }
    .empty {
      display: none;
    }
  }
}
