@use "../variables" as *;
@use "../mixins" as *;

// https://codepen.io/wikyware-net/pen/dyKPRxQ

.b-projects {
  // background-color: $darkBlue;
  // max-height: 100vh;
  overflow: hidden;
  position: relative;

  &__title {
    @include pageTitle;
    text-align: left;
  }

  &__marquee {
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    animation: $moveDown;

    &__list {
      min-height: 130px;
      margin: -24px 0;

      a {
        @include pageTitle;
        font-size: 6vw;
        font-weight: 800;
        text-decoration: none;

        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
        color: $fontHighlights;

        transition: 0.1s ease-in-out;
        padding: 0;

        &:hover {
          transform: translateX(10px);
          -webkit-text-fill-color: $fontHighlights;
          -webkit-text-stroke: 1px;
        }
      }
    }
  }

  &__cardList {
    margin-left: -3vw;

    ul {
      @include flexRow;
    }

    .--2 {
      position: relative;
      right: 10vw;
    }

    .card {
      z-index: 1;
      position: relative;
      background-color: $fontHighlights;
      border-radius: 15px;
      border: 1px solid $fontHighlights;

      list-style-type: none;
      margin: 5px;
      min-width: 275px;
      min-height: 200px;
      max-width: 275px;
      transition: 0.2s ease-in-out;
      overflow: hidden;

      // Set all the elements in front of the background
      &__title, &__description, &__date, &__button {
        z-index: 2;
        position: relative;
        transition: 0.2s ease-in-out;
      }
      
      &__bg {
        z-index: 1;
        position: absolute;
        top: -50px;
        left: 225px;
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 50%;
        background-color: $backgroundColor;
        transition: 0.2s ease-in-out;
        
      }

      &__title {
        @include pageTitle;
        font-size: 3vw;
        color: $backgroundColor;
        padding: 4px 8px;

        margin-top: 8px;
        letter-spacing: -2px;
      }

      &__description {
        @include mainBodyText;
        color: $fontHighlights;
        font-size: 18px;
        padding: 4px 8px;
        font-weight: 300;
      }

      &__date {
        @include subTitle;
        font-weight: 500;
        padding: 4px 8px;
        color: $fontHighlights;
      }

      &__button {
        background-color: $backgroundColor;
        border: none;
        position: absolute;
        bottom: 5px;
        
        @include mainBodyText;
        font-weight: 100;
        font-size: medium;
        padding: 6px;
        margin-left: 5px;
        color: $backgroundColor;
        width: 30%;
        
        border-radius: 14px;
        text-align: center;

        &:hover {
          padding: 8px;
        }
      }

      // BG hover is down below, wasn't working in SCSS for some reason
      &:hover {
        padding: 2px;
        // scale: 1.05;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .b-projects {
    &__title {
      text-align: left;
    }
    &__marquee {
      display: none;
    }

    &__cardList {
      position: relative;
      margin: 0;
      left: 2.7%;
      padding: 0;

      .card {
        min-width: 45%;
        max-width: 225px;

        &__title {
          font-size: 36px;
        }
        &__button {
          width: 40%;
        }
      }

      .--1,
      .--2,
      .--3 {
        display: flex;
        margin: auto;
        padding: 0;
      }

      .--2 {
        right: 0;
      }

      .--3 {
        // position: relative;
        // left: 23%;
      }
    }
    .empty {
      display: none;
    }
  }
}

.card:hover {
  border: 1px solid $fontHighlights;
}
.card:hover .card__bg {
  width: 500px;
  height: 500px;
  top: -5px;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
}

.card:hover .card__title {
  color: $fontHighlights;
}

.card:hover .card__button {
  width: 95%;
  background-color: $fontHighlights;
  color: $backgroundColor;
  font-weight: 500;
}

@media only screen and (min-width: 640px) {
}
