@use "../variables" as *;
@use "../mixins" as *;

.b-testimonials {
  @include flexColumn;
  // display: grid;
  // grid-template-columns: 100%;
  // grid-template-rows: 30% 70%;
  // justify-content: center;
  // align-items: center;

  overflow-x:hidden;

  &__header {
    @include flexColumn;
    grid-row: 1;
    padding: 0;

    h1 {
      @include sectionTitle;
      color: $secondaryColor;
      font-size: 50px;
      font-weight: 500;
      text-wrap: nowrap;
    }
    svg {
      margin-top: 1vh;
      margin-left: 80vw;
    }
  }

  &__swiper {
    height: 100%;
    width: 100%;
    grid-row: 2;
    
    
  }

  &__content {
    @include flexColumn;
    @include mainBodyText;
    letter-spacing: 0;

    p {
      padding: 15px 15%;
    }
  }

  &__name {
    @include sectionTitle;
    text-align: center;

    // background-color: $gray;
    width: 120%;
    h1 {
      font-size: 32px;
      padding: 0;
    }

    h4 {
      font-size: 24px;
      padding: 0;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  font-size: 18px;
  // background-color: $secondaryColor;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
