@use "../variables" as *;
@use "../mixins" as *;

.b-testimonials {
  --border-radius: 10px;
  --height: 350px;
  --width: 300px;

  @include flexColumn;

  &__header {
    @include flexColumn;
    grid-row: 1;
    padding: 0;
    padding: 0 0 80px 0;
    text-transform: uppercase;

    h1 {
      color: $mainColor;
      @include pageTitle;
      padding: 0;
      font-size: 5vw;
      letter-spacing: -2px;
      font-weight: 900;
      text-wrap: nowrap;
    }
  }

  &__cards-wrapper {
    @include flexRow;
    flex-wrap: wrap;
    max-width: 1480px; // 350px width * 4 cards + 10px margin each side
    min-width: 1480px;
    margin: auto;
    overflow:hidden;
    justify-content: center;
    min-height: 400px;
    padding: 0;
    margin: 0;
  }

  &__card {
    position: relative;
    @include flexColumn;
    border-radius: var(--border-radius);
    min-width: var(--width);
    max-width: var(--width);
    min-height: var(--height);
    max-height: var(--height);

    background-color: $backgroundColor2;

    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;

    svg {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 10px;
    }
    p {
      position: absolute;
      top: 15px;
      @include mainBodyText;
      letter-spacing: normal;
      padding: 14px;
      font-size: 18px;
      line-height: 150%;
      margin: 10px 0;
    }

    h1 {
      position: absolute;
      bottom: 30px;
      @include pageTitle;
      margin-right: auto;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: -1px;
      padding: 0 12px;
    }

    h4 {
      position: absolute;
      bottom: -1px;
      margin-right: auto;
      margin-top: auto;
      font-size: 14px;
      font-weight: 200;
      padding: 0 14px 14px 14px;
    }

    img {
      border-radius: var(--border-radius);
      min-width: var(--width);
      max-width: var(--width);
      min-height: var(--height);
      max-height: var(--height);
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 800px) {
  #Testimonials {
    max-height: 115vh;
    min-height: 110vh;
  }

  .b-testimonials {
    &__cards-wrapper {
      @include flexColumn;
    }
  }
}
