@use "../variables" as *;
@use "../mixins" as *;

// This file contains the css for all the random animation objects around

// Main site loading animation
.siteload {
  position: relative;
  vertical-align: auto;
  z-index: 105; // Set to be just above header

  .loadingLogo {
    position: absolute;
    left: 50vw;
    top: 50vh;

    z-index: 106;
    font-size: 60px;
    font-family: $siteTitle;
    color: white;
  }

  .foreground {
    z-index: 105;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100vw;
    height: 100vh;

    perspective: 1000;

    .square {
      background-color: $mainColor;
      width: 12.5vw;
      height: 12.5vh;
      scale: 1.01; // Ensures no weird white lines popup while animating
      transform-style: preserve-3d;

      backface-visibility: hidden;
    }
  }

}

// Project bars
.b-projects {
  // Animated bars
  &__leftBars,
  &__rightBars {
    position: absolute;
    top: 0;

    height: 100vh;
    z-index: 100;
    @include flexColumn;

  }

  &__leftBars {
    left: -25vw;
    width: 75vw;
    
  }

  &__rightBars {
    right: 0;
    width: 75vw;
  }

  .stripe {
    width: 100vw;
    height: 20vh;
    background-color: $mainColor;
    margin-top: -5px;
  }
}

// Project image focus
.focus-image {
  @include flexColumn;
  z-index: 10;
  align-items: center;
  justify-content: center;
  background-color: #fffffff6;

  // Overrides the __header image styling
  img {
    max-width: 900px;
    min-width: 600px;
    min-height: 200px;
    max-height: 800px;
    border: 3px solid rgba(0, 0, 0, 0.113);
    border-radius: 15px;
  }

  h1 {
    @include subTitle;
    padding: 12px 0;
    font-size: 18px;
  }
}

// Project Loading animation bars
.bars {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 101;
}

.top-bars {
  display: flex;
  flex-direction: row;
}

.bar {
  width: 110vw;
  height: 200vh;
  margin-left: -5px;
  background-color: $purple;
}


// Page progress % circle
.progress {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: -100px;
  margin: 0;
  padding: 0;
}

.progress svg {
  transform: translateX(-100px) rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 7.5%;
  fill: none;
}

.bg {
  stroke: var(--project-color);
  opacity: 0.2;
}

.progress .indicator {
  stroke: var(--project-color);
}
