@use "../variables" as *;
@use "../mixins" as *;

.spinning-circle {
  z-index: 1;
  position: relative;
  aspect-ratio: 1;
}

.letter {
  @include pageTitle;
  font-weight: 900;
  letter-spacing: normal;

  position: absolute;
  top: 0;
  left: 50%;

  color: $secondaryColor;
  text-transform: uppercase;
}
