@use "../variables" as *;
@use "../mixins" as *;

// Make navbar color excluded from whats behind


header {
  --background: #fff;
  --accent: #000;
}

header::before {
  background: var(--accent);
  opacity: 0.9;
}


.b-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 20px;
  z-index: 1000;

  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--background) 1px
  );
  background-size: 8px 8px;
  backdrop-filter: blur(3px);

  a {
    cursor: pointer;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    font-family: $mainFont;
    letter-spacing: $mediumLetterSpacing;
    // color: $fontHighlights;
    color: var(--project-color);
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
  }

  &__hamburger {
    position: absolute;
    right: 0;
    z-index: 1;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__wrapper {
    position: absolute;
    top: 50px;
    right: 25px;
    z-index: 2;
    @include flexColumn;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;

    @media (min-width: 768px) {
      top: 10px;
      flex-direction: row;
    }

    &__link {
      list-style: none;
      color: $fontColor;
      padding: 0 10px;

      a {
        @include pageTitle;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        padding: 0;
        color: $mainColor;
        text-decoration: none;
        &:visited {
          color: $fontColor;
        }
      }
    }
  }

  &__nightMode {
    svg {
      transition: 0.1s ease-in-out;

      scale: 1.3;
      &:hover {
        scale: 1.4;
      }
    }
  }

  .cobweb {
    position: absolute;
    top: 0;
    left: 15vw;
    z-index: -1;
    transition: 0.1s ease-in-out;

    scale: 30;
    color: #006bbc;
  }
}
