@use "../variables" as *;

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $aboutBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


// Hard coded to be in the same spot as the normal logo
.popup-logo {
  z-index: 150;
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: $mainFont;
  letter-spacing: $mediumLetterSpacing;
  color: $fontHighlights;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  cursor: pointer;
}

.popup-content {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.popup-close {
  background: none;
  border: none;
  font-size: 50px;
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  z-index: 150;
}
