@use "../variables" as *;
@use "../mixins" as *;

.project-popup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  
  &__background {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $aboutBackground;
  }

  &__banner {
    z-index: 3;
    position: absolute;
    top: -20px;
    height: 0vh;
    width: 100vw;
    @include pageTitle;
    color: var(--project-color);
  }
  // Left side of the screen / images
  &__header {
    position: relative;
    z-index: 0;

    width: 50%;
    gap: 20px;

    @include flexColumn;
    justify-content: center;
    align-items: center;

    &__images {
      z-index: 2;

      img {
        width: 80%;
        max-width: 500px;
        min-width: 400px;
        min-height: 225px;
        max-height: 225px;

        height: auto;
        object-fit: cover;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.119);
      }
    }

    &__1 {
      position: relative;
      top: 35vh;
      right: -5vw;
      rotate: -5deg;
    }

    &__2 {
      position: relative;
      top: 7.5vh;
      left: -3vw;
      rotate: 8deg;
    }

    &__background {
      position: absolute;
      bottom: -10vh;
      z-index: 1;
      height: 25vh;
      width: 50vw;
      max-width: 500px;
      background-color: var(--project-color);
      border-radius: 15px;
    }

    &__text {
      @include mainBodyText;
      padding: 0 12px;
      font-size: 12px;
      letter-spacing: normal;
      z-index: 10;
      position: relative;
      bottom: -9vh;
      color: $backgroundColor;
    }

    &__stack {
      z-index: 2;
      position: relative;
      top: 50%;

      @include flexRow;
      justify-content: center;
      table-layout: fixed;
      max-height: 200px;
      scale: 0.8;

      h3 {
        @include subTitle;
        padding: 0;

        margin-bottom: 10px;
      }

      ul {
        @include flexColumn;
        list-style-type: none;
        height: 100%;
        padding: 0;

        li {
          @include mainBodyText;
          padding: 4px 0;
          width: 20vw;
          border: 0.1px solid $black;
          background-color: $aboutBackground;
          height: 100%;
          text-align: center;
          margin: 2px;
          transition: 0.1s ease-in-out;

          &:hover {
            scale: 1.01;
          }
        }
      }
    }
  }
  // Right side of the screen
  &__content {
    width: 40%;
    position: absolute;
    right: 5%;
    bottom: 20%;

    h2 {
      @include pageTitle;
      padding: 0;

      color: var(--project-color);
      letter-spacing: $mediumLetterSpacing;
      margin-bottom: 20px;
    }

    &__description {
      @include mainBodyText;
      padding: 0;
      letter-spacing: normal;

      text-align: left;
      font-size: 1rem;
      margin-bottom: 10px;
      line-height: 1.5;
    }

    .lastDesc {
      padding: 20px;
      color: $aboutBackground;
      background-color: var(--project-color);
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: center;

      p {
        padding: 0 8px;
        color: var(--project-color);
      }

      a {
        @include sectionTitle;
        font-size: 16px;
        padding: 0;
        color: var(--project-color);
        text-decoration: none;
        font-weight: bold;

        transition: 0.1s ease-in-out;
        &:hover {
          font-size: 16.5px;
        }
      }
    }
  }

  &__contact {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 1.2rem;

    a {
      color: #680879;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .focus-image {
    @include flexColumn;
    z-index: 10;

    // Overrides the __header image styling
    img {
      max-width: 900px;
      min-width: 600px;
      min-height: 200px;
      max-height: 800px;
    }

    h1 {
      @include subTitle;
      padding: 12px 0;
      font-size: 18px;
    }
  }
}

// Loading animation bars
.bars {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 101;
}

.top-bars {
  display: flex;
  flex-direction: row;
}

.bar {
  width: 60vw; 
  height: 200vh;
  margin-left: -5px;
  background-color: $fontHighlights;
}
