@use "../variables" as *;
@use "../mixins" as *;

.socials {
  position: fixed;
  bottom: 0;
  left: 0;
  @include flexRow;
  padding: 14px;
  z-index: -1;

  .words {
    @include flexColumn;
    min-width: 175px;

    h1 {
      font-family: $mainFont;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: -0.5px;
      text-align: left;
    }
  }

  .links {
    @include flexColumn;

    ul {
      @include flexRow;
      gap: 20px;
      list-style-type: none;
      padding: 0;

      @include mainBodyText;
      padding: 0;
      font-size: 16px;
      font-weight: 300;

      li {
        a {
          color: $mainColor;
          text-decoration: none;
          mix-blend-mode: darken;
          transition: .2s ease-in-out;

          &:hover {
            scale: 1.2;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) { 
  .socials {
    display: none;
  }
}