@import url("https://db.onlinewebfonts.com/c/1e400e1a7a0ff1e8abbdddf2e42beff1?family=FSP+DEMO+-+Integral+CF+Heavy");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* // Header: font-family: 'Oswald', sans-serif;
// Header 2: font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@900&display=swap");
/* //  P: font-family: 'Cooper Hewitt Light', sans-serif; */
@import url("https://fonts.cdnfonts.com/css/cooper-hewitt-book");
/* /////////////////////
// ALL PROJECTS PAGE  // 
//////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.content-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 80%;
}

.all-projects {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 88% 6%;
  grid-template-rows: 30vh 10vh auto;
  display: relative;
  z-index: 0;
  justify-items: center;
}
.all-projects .page-title {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  grid-column: 2;
  grid-row: 1;
  color: #211257;
  padding-top: 5vh;
  animation-name: allProjectTitleLoad;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transition: 0.3s ease-in-out;
}
.all-projects .language-input {
  grid-column: 2;
  grid-row: 2;
}
.all-projects .all-project-box {
  grid-column: 2;
  grid-row: 3;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.all-projects .all-project-box .project-card {
  width: 30%;
  height: 200px;
  text-align: center;
}
.all-projects .all-project-box .project-card .read-more {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background-color: #211257;
  color: #feffff;
  border-radius: 999em;
}
.all-projects .all-project-box .project-card .read-more:hover {
  scale: 1.1;
}
.all-projects .all-project-box .project-card a {
  transition: 0.1s ease-in-out;
}
.all-projects .all-project-box .project-card .card-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: #211257;
}

.all-projects-bg {
  position: absolute;
  bottom: -50vh;
  z-index: -1;
  transform: rotateZ(-10deg);
}

.all-projects-bg li {
  z-index: -1;
  margin: 0;
  list-style-type: none;
  width: 100%;
  min-width: 200vw;
  background-color: #15161d;
}

#all-projects-square1 {
  opacity: 1;
  height: 20vh;
  animation-name: bgLoad;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

#all-projects-square2 {
  opacity: 0.85;
  height: 15vh;
  animation-name: bgLoad;
  animation-duration: 5.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

#all-projects-square3 {
  opacity: 0.7;
  height: 15vh;
  animation-name: bgLoad;
  animation-duration: 5.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.container {
  position: relative;
  padding: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.116));
}
.container .card:hover {
  transition: 0.3s ease-in-out;
  scale: 1.05;
  filter: drop-shadow(100px 100px 100px rgba(0, 0, 0, 0.116));
}

.card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
}

.card-animation {
  animation-name: cardLoadAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #211257;
  clip-path: circle(200px at 50% 10%);
  transition: 0.3s ease-in-out;
}

.date-created {
  font-family: "Oswald", sans-serif;
  font-style: italic;
}

.container .card:hover:before {
  background: #a0d6f0;
  clip-path: circle(400px at 50% 10%);
}

.container .card:after {
  position: absolute;
  top: 70%;
  left: -20%;
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  color: #a0d6f0;
  transform: rotate(25deg);
  font-family: "Bebas Neue", sans-serif;
}

.container .card .imgBx {
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: -5%;
  transform: translateY(10%);
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 0;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

:root {
  --accent: #a0d6f0;
  --accent-2: #a0d6f0;
  --text: #20212b;
  --text-hover: var(--accent);
  --text-active: #FFFFFF;
  --border-width: 0.125em;
}

.hidden-toggles {
  position: relative;
  animation-name: allProjectTitleLoad;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transition: 0.3s ease-in-out;
  height: 2.75em;
  width: auto;
  display: flex;
}
.hidden-toggles > * {
  flex: 0 0 0 0;
}
.hidden-toggles:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--border-width) solid var(--accent);
  border-radius: 999em;
  pointer-events: none;
}

.hidden-toggles__input {
  display: none;
}
.hidden-toggles__input:checked + .hidden-toggles__label {
  background-color: var(--accent);
  color: var(--text-active);
}

.hidden-toggles__label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10vh 0 10vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  color: var(--text);
}
.hidden-toggles__label:hover {
  color: var(--text-hover);
}
.hidden-toggles__label:first-of-type {
  border-bottom-left-radius: 999em;
  border-top-left-radius: 999em;
  border-right: var(--border-width) solid var(--accent);
}
.hidden-toggles__label:last-of-type {
  border-bottom-right-radius: 999em;
  border-top-right-radius: 999em;
  border-left: var(--border-width) solid var(--accent);
}
.hidden-toggles__label:nth-of-type(2) {
  border-right: var(--border-width) solid var(--accent);
}
.hidden-toggles__label:nth-of-type(3) {
  border-right: var(--border-width) solid var(--accent);
}

@keyframes allProjectTitleLoad {
  from {
    opacity: 0;
    transform: translate(-100vh);
  }
  to {
    opacity: 1;
    transform: translate(0vh);
  }
}
@keyframes cardLoadAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes bgLoad {
  0% {
    transform: translateY(-5vh);
  }
  30% {
    transform: translateY(5vh);
  }
  100% {
    transform: translateY(-5vh);
  }
}/*# sourceMappingURL=cards-style.css.map */