@import url("https://db.onlinewebfonts.com/c/1e400e1a7a0ff1e8abbdddf2e42beff1?family=FSP+DEMO+-+Integral+CF+Heavy");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cooper-hewitt-book");
html {
  min-width: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  min-width: 900px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar gutter */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-gutter-color);
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

.introBox {
  position: absolute;
  bottom: 3vh;
  left: 8vw;
  font-family: "Cooper Hewitt Light", sans-serif;
  color: #f3f3f3;
  margin: 0px;
}
.introBox .introName {
  font-family: "FSP DEMO - Integral CF Heavy";
}
.introBox .introDegree {
  font-family: "Cooper Hewitt Light", sans-serif;
}
.introBox ul {
  list-style: none;
}
.introBox ul .introLi {
  font-size: 20px;
}

.logo {
  z-index: 40;
  font-size: 60px;
  color: #20212b;
  font-family: "FSP DEMO - Integral CF Heavy";
}

.home-logo {
  position: absolute;
  bottom: 15vh;
  font-size: 60px;
  animation-name: homeLogoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.page-logo {
  position: absolute;
  bottom: 89.5vh;
  font-size: 60px;
  animation-name: projectLogoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.headerNav {
  list-style: none;
  display: flex;
  position: absolute;
  top: 1.5vh;
  left: 8vw;
  z-index: 30;
  transition: 0.2s ease-in-out;
}
.headerNav .headerLi {
  padding: 0 2vw 0 2vw;
  font-size: 20px;
}
.headerNav .headerLi a {
  color: #20212b;
  font-family: "Cooper Hewitt Light", sans-serif;
  text-decoration: none;
}

.projectBox {
  margin-top: 10vh;
  position: absolute;
  right: 5vw;
}

.projectTitle {
  font-size: 180px;
}

.projects {
  margin: 0;
  text-align: right;
  list-style: none;
  perspective: 50vh; /* Set the perspective for the 3D effect */
  overflow-x: hidden;
}

.projectLi {
  display: none;
  font-family: "FSP DEMO - Integral CF Heavy";
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% 50%;
  transition: transform 0.2s ease-in-out;
}

.projectContainer {
  transform-origin: 100% 50%;
  transform: rotateY(-20deg);
  transform-style: preserve-3d;
  transition: transform 0.2s ease-in-out;
  padding-right: 40px;
  position: relative;
  z-index: 1;
  font-size: 26px;
}

.projectContainer:hover {
  transform-origin: 100% 50%;
  color: #bc1545;
}

.projectContainer a {
  text-decoration: none;
  color: #feffff;
  transition: all 0.2s ease-in-out;
}

.projectContainer a:hover {
  color: #feffff;
  margin: 50px;
  text-shadow: 20px 0px 1px rgba(120, 15, 45, 0.5882352941);
}

.project-page {
  z-index: 0;
}

.header-box {
  width: 100%;
  height: 10vh;
  background-color: #f3f3f3;
  position: absolute;
  z-index: 30;
}

.project {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.project-body {
  display: flex;
  opacity: 0;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.project-body a {
  transition: 0.2s ease-in-out;
}
.project-body a:link {
  font-size: 24px;
  color: #20212b;
  text-decoration: none;
}
.project-body a:visited {
  color: #20212b;
}
.project-body a:hover {
  font-size: 26px;
}
.project-body a:active {
  color: #20212b;
}

.header-picture {
  width: 100%;
  height: auto;
  z-index: 10;
  margin-top: 11.8vh;
  min-width: 100%;
  max-height: 50vh;
  object-fit: cover;
}

.project-title {
  margin-top: 10vh;
  font-family: "FSP DEMO - Integral CF Heavy";
  z-index: 10;
  font-size: 115px;
  text-align: center;
  font-style: italic;
}

.demo-link, .github-link {
  font-family: "Oswald", sans-serif;
}

.video-container {
  width: 100%;
  height: 40vh;
  margin: auto;
  padding-bottom: 200px;
}
.video-container iframe {
  border: none;
}

.tech-tables {
  opacity: 0;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}

.tech-stack {
  width: 50%;
}

.tech-cell {
  border: 1px solid #20212b;
  max-width: 50px;
  height: 50px;
  text-align: center;
}

.description1 {
  font-family: "Cooper Hewitt Light", sans-serif;
}

.bgSquare {
  position: absolute;
  top: 0;
  z-index: 0;
  padding: 0;
}

.bgSquare li {
  transform: translateY(-180vh);
  margin: 0;
  list-style-type: none;
  width: 100%;
  min-width: 100vw;
}

#bgSquare1 {
  opacity: 1;
  height: 60vh;
}

#bgSquare2 {
  margin-top: -10vh;
  opacity: 0.8;
  height: 15vh;
}

#bgSquare3 {
  margin-top: -9vh;
  opacity: 0.75;
  height: 15vh;
}

.animate-diamonds {
  animation-name: projectBgAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.animate-project-picture {
  animation-name: projectBgAnimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.homeBgColorAnimation1 {
  animation-name: homeBgColor;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.animateNav {
  opacity: 1;
  animation-name: fallAndRotate;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.HeaderNavProjectLoad {
  animation-name: headerNavProjectLoad;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.HeaderNavMusicLoad {
  animation-name: headerNavMusicLoad;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.HeaderNavHomeLoad {
  animation-name: headerNavHomeLoad;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.ProjectTitleLoad {
  animation-name: ProjectTitleLoad;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.ProjectBodyLoad {
  animation-name: ProjectBodyLoad;
  opacity: 1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.outroNav {
  animation-name: riseAndRotate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.animateHomeIntro {
  opacity: 1;
  animation-name: opacityFill;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.LeaveAnimation {
  opacity: 0;
  transform: translateY(-100px);
  animation: leaveAnimation 0.5s ease forwards;
}

.outroBodyAnimation {
  animation: bodyLeaveAnimation 1s ease forwards;
}

.introBodyAnimation {
  animation: bodyLoadAnimation 1s ease forwards;
}

.errorMessage {
  text-align: center;
  max-width: 800px;
  color: #feffff;
  font-family: "Montserrat", sans-serif;
}

@keyframes homeBgColor {
  from {
    background-color: #f3f3f3;
  }
  to {
    background-color: #bc1545;
  }
}
@keyframes homeLogoAnimation {
  0% {
    bottom: 82vh;
  }
  100% {
    bottom: 10vh;
  }
}
@keyframes projectLogoAnimation {
  from {
    bottom: 15vh;
  }
  to {
    bottom: 82vh;
  }
}
@keyframes headerNavHomeLoad {
  from {
    left: 55vw;
  }
  to {
    left: 5vw;
  }
}
@keyframes headerNavProjectLoad {
  from {
    left: 5vw;
  }
  to {
    left: 60vw;
  }
}
@keyframes headerNavMusicLoad {
  from {
    color: hsl(235, 15%, 15%);
    left: 5vw;
  }
  to {
    color: #f3f3f3;
    left: 60vw;
  }
}
@keyframes ProjectTitleLoad {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@keyframes ProjectBodyLoad {
  0% {
    opacity: 0;
    transform: translateY(-10vh);
  }
  75% {
    opacity: 0;
    transform: translateY(-10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}
@keyframes projectBgAnimation {
  0% {
    transform: translateY(-100vh);
  }
  70% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(-5vh);
  }
}
@keyframes fallAndRotate {
  0% {
    opacity: 0;
    transform: translateY(-200vh) rotateY(-180deg); /* Start above the viewport with rotation */
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateY(-25deg); /* End at the original position with no rotation */
  }
}
@keyframes riseAndRotate {
  from {
    transform: translateY(0) rotateY(-20deg); /* Start above the viewport with rotation */
  }
  to {
    transform: translateY(-200vh) rotateY(-180deg); /* End at the original position with no rotation */
  }
}
@keyframes opacityFill {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes leaveAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
@keyframes bodyLeaveAnimation {
  from {
    background-color: #bc1545;
  }
  to {
    background-color: #f3f3f3;
  }
}
@keyframes bodyLoadAnimation {
  from {
    background-color: #f3f3f3;
  }
  to {
    background-color: #bc1545;
  }
}

/*# sourceMappingURL=index.css.map */
