// sass --watch music-style.scss music.css
@use 'variables';

// Main: font-family: "FSP DEMO - Integral CF Heavy";
@import url('https://db.onlinewebfonts.com/c/1e400e1a7a0ff1e8abbdddf2e42beff1?family=FSP+DEMO+-+Integral+CF+Heavy');

// font-family: 'Bebas Neue', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Header: font-family: 'Oswald', sans-serif;
// Header 2: font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@900&display=swap');

//  P: font-family: 'Cooper Hewitt Light', sans-serif;
@import url('https://fonts.cdnfonts.com/css/cooper-hewitt-book');

body {
    min-width: 1200px;
}

// .musicArea {
//     overflow-x: hidden;
// }

.music-page {
    z-index: 0;

    .music-bg {
        z-index: -1;
        list-style-type: none;
        // transform: rotateZ(-10deg);

        li {
            margin: 0;
            list-style-type: none;
            // width: 100%;
            // min-width: 93.5vw;
        }

        #music-bg-square3 {
            position: absolute;
            top: 35vh;
            left: 100vw;
            z-index: -1;
            width: 90vw;

            animation-name: musicBgLoad1;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;

            mix-blend-mode: exclusion;
            background-color: #fff;
            opacity: 1;
            height: 35vh;
        }

        #music-bg-square2 {
            position: absolute;
            top: 1000px;
            left: 0vw;
            z-index: -1;
            width: 40vw;

            animation-name: musicBgLoad2;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;

            background-color: black;
            opacity: 1;
            height: 32vh;
        }

        #music-bg-square1 {
            position: absolute;
            top: 1500px;
            left: 0vw;
            z-index: -1;
            width: 120vw;
            height:  700px;

            animation-name: musicBgLoad3;
            animation-duration: 5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;

            background-color: black;
        }
    }

    .music-content {
        display: grid;
        z-index: 1;
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 15vh 50vh 10vh 100vh;

        display: relative;
        z-index: 0;
        justify-items: center;
        
        .music-video-container {
            grid-row: 2;
            grid-column: 2;
            animation-name: musicDescriptionLoad;
            animation-duration: 1.2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;

            iframe {
                width: 80vw;
                height: 100%;
            }
        }

        .music-title {
            // justify-self: baseline;
            // font-size: 47px;
            font-family: 'Bebas Neue', sans-serif;
            grid-column: 2;
            grid-row: 3;

            border-top: 5px solid black;
            // background-color: black;
            color: variables.$space-cadet;

            opacity: 0;
            animation-name: musicTitleLoad;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
        

        .music-description {
            grid-column: 2;
            grid-row: 4;
            font-size: 30px;

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto 250px auto auto auto auto ;
            gap: 20px;

            p {
                font-family: 'Montserrat', sans-serif;
                opacity: 0;
            }

            .soundcloud-1 {
                grid-row: 2;
                grid-column: 1 / 2;
                animation-name: musicDescriptionLoad;
                animation-duration: 1.2s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }

            .soundcloud-2 {
                grid-column: 1 / 4;
                margin: auto;
                min-width: 90vw;

                animation-name: musicDescriptionLoad;
                animation-duration: 1.2s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }

            .music-description1 {
                max-width: 50vw;
                text-align: center;
                justify-self: center;
                grid-row: 1;
                grid-column: 1 / 3;
                padding-bottom: 100px;
                border-bottom: 5px solid black;
            }

            .music-description2 {
                // border-bottom: 10px solid black;
                padding-top: 1vw;
                text-align: center;
                grid-row: 2;
                grid-column: 2;
                font-size: 32px;
            }

            .demo-title {
                font-family: 'Bebas Neue', sans-serif;
                background-color: black;
                color: variables.$background-color;
                font-size: 215px;
                font-style: italic;
                letter-spacing: -10px; 
                grid-row: 3;
                grid-column: 1 / 3;
                text-align: center;
                
                margin: 0;
                padding: 0;
                // position: absolute;
                // top: 132vh;
                // left: 20vw;
                // z-index: -1;
    
                animation-name: musicBgLoad3;
                animation-duration: 4s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
                mix-blend-mode: exclusion;
                // text-shadow: 10px -5px rgb(0, 0, 0);
            }

            .music-description3 {
                padding-top: 20px;
                font-size: 32px;
                max-width: 50%;
                // margin: auto;
                color: variables.$background-color;
                mix-blend-mode: exclusion;
                // background-color: variables.$background-color;

                text-align: center;
                justify-self: center;
                grid-row: 4;
                grid-column: 1 / 3;
            }

            .socials-list {
                grid-row: 8;
                grid-column: 1/3;
                margin: auto;

                // display: flex;
                // justify-content: space-between;
                // align-items: center;

                li {
                    padding: 4vw 3vw 5vw 0vw;
                }
            }
        }
    }

    .musicDescriptionLoad {
        opacity: 0;
        animation-name: musicDescriptionLoad;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
        
}
@keyframes musicTitleLoad {
    0% {
       opacity: 0;
       transform: translateX(-40px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes musicDescriptionLoad {
    0% {
       opacity: 0;
       transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes musicBgLoad1 {
    0% {
        opacity: 0;
        transform: translateX(0vw);
    }
    100% {
        opacity: 1;
        transform: translateX(-95vw);
    }
}

@keyframes musicBgLoad2 {
    0% {
        opacity: 0;
        transform: translateX(-20vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes musicBgLoad3 {
    0% {
        transform: translateX(150vw);
    }
    100% {
        transform: translateX(0vw);
    }
}


// ///////////////////////////////////////
// ///         Media Queries:           //
// ///////////////////////////////////////
@media screen and (max-width: 2400px) {
    // body {
    //     font-size: 24px;
    // }

    .music-title {
        font-size: 42px;
    }

    .music-description {
        font-size: 28px;
    }

    .music-description p {
        font-size: 26px;
    }

    .music-description4 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 18px;
    }

    .music-title {
        font-size: 42px;
    }

    .music-description {
        font-size: 24px;
    }

    .music-description p {
        font-size: 24px;
    }

    .music-description4 {
        font-size: 32px;
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .music-title {
        font-size: 40px;
    }

    .music-description {
        font-size: 24px;
    }

    .music-description p {
        font-size: 19px;
    }

    .music-description4 {
        font-size: 28px;
        display: none;
    }
}


@media screen and (max-width: 1000px) {
    #music-bg-square1 {
        display: none;

    }

    .music-description3 {
        font-size: 4px;
        display: none;
    }
}