@import url("https://db.onlinewebfonts.com/c/1e400e1a7a0ff1e8abbdddf2e42beff1?family=FSP+DEMO+-+Integral+CF+Heavy");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cooper-hewitt-book");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  min-width: 100%;
}

body {
  margin: 0;
  transition: 0.5s ease-in-out;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  min-width: 900px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar gutter */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--logo-color);
}

.introBox {
  position: fixed;
  bottom: 3vh;
  left: 8vw;
  font-family: "Cooper Hewitt Light", sans-serif;
  margin: 0px;
  mix-blend-mode: exclusion;
  z-index: 100;
}
.introBox .introName {
  font-family: "Cooper Hewitt Light", sans-serif;
  background: rgba(255, 255, 255, 0);
  color: #f3f3f3;
  mix-blend-mode: exclusion;
}
.introBox .introDegree {
  font-family: "Cooper Hewitt Light", sans-serif;
  background: rgba(255, 255, 255, 0);
  color: #f3f3f3;
  mix-blend-mode: exclusion;
}
.introBox ul {
  list-style: none;
}
.introBox ul .introLi {
  font-size: 20px;
}

.logo {
  z-index: 100;
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  transition: 1s ease-in-out;
  background: rgba(0, 0, 0, 0);
  color: var(--background-color);
  mix-blend-mode: exclusion;
}

.page-logo:hover {
  scale: 1.1;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 0.0001px;
  -webkit-text-stroke-color: var(--background-color);
  stroke-width: 0.1px;
}

.home-logo {
  position: fixed;
  top: -28px;
  left: 25px;
  font-size: 60px;
}

.page-logo {
  color: var(--background-color);
  position: fixed;
  top: 10px;
  left: 20px;
  font-size: 60px;
  z-index: 100;
  margin: 0;
  transition: 0.1s ease-in-out;
}

.headerNav {
  list-style: none;
  display: flex;
  background: rgba(0, 0, 0, 0);
  color: #f3f3f3;
  mix-blend-mode: exclusion;
  position: fixed;
  top: 18px;
  left: 8vw;
  z-index: 20;
  transition: 0.2s ease-in-out;
}
.headerNav .headerLi {
  padding: 0 2vw 0 2vw;
  font-size: 20px;
}
.headerNav .headerLi a {
  color: white;
  font-family: "Cooper Hewitt Light", sans-serif;
  text-decoration: none;
}

.projectBox {
  position: absolute;
  right: 5%;
  top: 2%;
}

.projectTitle {
  font-size: 120px;
}

.projectStuffing {
  opacity: 0;
}

.projects {
  margin: 0;
  text-align: right;
  list-style: none;
  perspective: 90vh;
  letter-spacing: -3.5px;
  background: rgba(255, 255, 255, 0);
  color: #f3f3f3;
  mix-blend-mode: exclusion;
}

.projectLi {
  display: none;
  font-family: "Bebas Neue", sans-serif;
  transform-style: preserve-3d;
  position: relative;
}

.projectContainer {
  transform-origin: 100% 50%;
  -moz-transform: rotateY(-40deg);
  -webkit-transform: rotateY(-40deg);
  transform: rotateY(-45deg);
  transform-style: preserve-3d;
  transition: 0.3s ease-in-out;
  padding-right: 40px;
  position: relative;
  z-index: 1;
  font-size: 35px;
}

.projectContainer:hover {
  transform-origin: 100% 50%;
  color: var(--background-color);
  -moz-transform: rotateY(-20deg);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

.projectContainer a {
  text-decoration: none;
  color: #f3f3f3;
  transition: all 0.1s ease-in-out;
}

.projectContainer a:hover {
  scale: 1.15;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1.5px #f3f3f3;
  margin: 10px;
}

#radios {
  position: fixed;
  bottom: 30px;
  right: 1px;
  width: 200px;
  margin: 0 auto;
}

.colorBox {
  display: flex;
  flex-direction: row;
  justify-self: center;
  position: absolute;
  bottom: 0.5vh;
  right: 100px;
}

.colorButtons input[type=radio] {
  position: absolute;
  right: 1000%;
}

.colorButtons label {
  float: left;
  width: 15%;
  padding-bottom: 15%;
  margin: 0 2.5%;
  mix-blend-mode: exclusion;
  background: var(--logo-color);
  border-radius: 50%;
  cursor: pointer;
}

.clickMe {
  position: fixed;
  bottom: 18px;
  right: 200px;
  padding-right: 2px;
  font-size: 20px;
  font-family: "Cooper Hewitt Light", sans-serif;
  color: #fff;
  background-color: black;
  mix-blend-mode: exclusion;
}

#slider {
  position: absolute;
  left: 0%;
  top: 0;
  width: 10%;
  padding-bottom: 10%;
  margin: 2.5% 0 0 5%;
  background: var(--background-color);
  transition: transform 1s;
  border-radius: 50%;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left 0.05s ease-in-out;
}

#input1:checked ~ #slider {
  animation-name: input1;
  left: 0;
}

#input2:checked ~ #slider {
  animation-name: input2;
  left: 20%;
}

#input3:checked ~ #slider {
  animation-name: input3;
  left: 40%;
}

#input4:checked ~ #slider {
  animation-name: input4;
  left: 60%;
}

@keyframes input1 {
  30%, 70% {
    transform: scale(0.5);
  }
}
@keyframes input2 {
  30%, 70% {
    transform: scale(0.5);
  }
}
@keyframes input3 {
  30%, 70% {
    transform: scale(0.5);
  }
}
@keyframes input4 {
  30%, 70% {
    transform: scale(0.5);
  }
}
.lds-title {
  position: fixed;
  top: 38%;
  left: 49.9%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: "Cooper Hewitt Light", sans-serif;
  color: #fff;
  background-color: black;
  mix-blend-mode: exclusion;
}

.lds-ellipsis {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
}

.lds-ellipsis div {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--logo-color);
  mix-blend-mode: exclusion;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 16px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 64px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 112px;
  animation: lds-ellipsis3 0.6s infinite;
}

.loading-disclaimer {
  position: fixed;
  top: 62%;
  left: 30%;
  font-size: 20px;
  font-family: "Cooper Hewitt Light", sans-serif;
  max-width: 40vw;
  text-align: center;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(48px, 0);
  }
}
.animated-bg {
  transition: 0.5s ease-in-out;
  position: fixed;
  top: -1500px;
  height: 8000px;
  width: 4000px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(var(--logo-color) 200px, transparent 200px);
  transform: rotate(-45deg);
  -webkit-animation: bg-scrolling-reverse 8s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 8s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 8s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse 8s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.animated-bg2 {
  transition: 0.5s ease-in-out;
  position: fixed;
  top: -1500px;
  height: 8000px;
  width: 4000px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(var(--logo-color) 150px, transparent 150px);
  transform: rotate(-45deg);
  -webkit-animation: bg-scrolling-reverse2 8s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse2 8s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse2 8s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse2 8s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.animated-bg3 {
  transition: 0.5s ease-in-out;
  position: fixed;
  top: -1500px;
  height: 8000px;
  width: 4000px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(var(--logo-color) 140px, transparent 140px);
  transform: rotate(-45deg);
  -webkit-animation: bg-scrolling-reverse3 8s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse3 8s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse3 8s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse3 8s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 450vw 540vh;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 450vw 540vh;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 450vw 540vh;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 450vw 540vh;
  }
}
@-webkit-keyframes bg-scrolling-reverse2 {
  100% {
    background-position: 450vw 495vh;
  }
}
@-moz-keyframes bg-scrolling-reverse2 {
  100% {
    background-position: 450vw 495vh;
  }
}
@-o-keyframes bg-scrolling-reverse2 {
  100% {
    background-position: 450vw 495vh;
  }
}
@keyframes bg-scrolling-reverse2 {
  100% {
    background-position: 450vw 495vh;
  }
}
@-webkit-keyframes bg-scrolling-reverse3 {
  100% {
    background-position: 450vw 450vh;
  }
}
@-moz-keyframes bg-scrolling-reverse3 {
  100% {
    background-position: 450vw 450vh;
  }
}
@-o-keyframes bg-scrolling-reverse3 {
  100% {
    background-position: 450vw 450vh;
  }
}
@keyframes bg-scrolling-reverse3 {
  100% {
    background-position: 450vw 450vh;
  }
}
.project-page {
  z-index: 0;
}

.header-box {
  width: 200%;
  height: 10vh;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  z-index: 20;
}

.project {
  max-width: 100%;
  margin: auto;
  z-index: 0;
}

.project-body {
  justify-content: center;
  display: grid;
  grid-template-columns: 10vw 10vw 35vw 35vw 10vw 10vw;
  grid-template-rows: 125px 80px auto auto 35vh 150px 40vh 200px;
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 100px;
}
.project-body a {
  transition: 0.2s ease-in-out;
}
.project-body a:link {
  font-size: 24px;
  text-decoration: none;
}
.project-body a:visited {
  color: #15161d;
}
.project-body a:hover {
  font-size: 26px;
}
.project-body a:active {
  color: #15161d;
}

.video-container {
  width: 100vw;
  height: 40vh;
  z-index: 15;
  margin: auto;
  margin: 15vh 0 0 0;
  min-width: 100%;
  max-width: 900px;
  max-height: 50vh;
}
.video-container iframe {
  border: none;
}

.header-picture {
  width: 100%;
  height: auto;
  margin: auto;
  grid-column: 3/5;
  grid-row: 6;
  z-index: 15;
  object-fit: cover;
}

.project-title {
  grid-column: 3/5;
  grid-row: 1;
  margin-top: 0vh;
  font-family: "Bebas Neue", sans-serif;
  z-index: 10;
  font-size: 115px;
  text-align: center;
  font-style: italic;
}

.demo-link {
  grid-column: 3/5;
  grid-row: 2;
  text-align: center;
  align-self: center;
  color: var(--logo-color);
  border-radius: 10px;
  padding: 5px;
}

.demo-link, .github-link {
  font-style: italic;
  font-family: "Oswald", sans-serif;
}

.socials-list li {
  padding: 10px;
}

.project-socials {
  grid-column: 2/6;
  grid-row: 8;
  justify-self: center;
  align-self: center;
  z-index: 15;
}

.tech-tables {
  grid-column: 3/5;
  grid-row: 4;
  opacity: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}

.tech-stack {
  margin: 5vh 0 15vh 0;
  width: 50%;
}

.tech-cell {
  border: 1px solid #15161d;
  max-width: 50px;
  height: 50px;
  text-align: center;
}

.demo-picture {
  grid-row: 5;
  grid-column: 2/4;
  max-width: 90%;
  height: auto;
  align-self: center;
  justify-self: center;
  z-index: 15;
}

.description {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  z-index: 15;
  font-weight: 100;
  padding-top: 40px;
}

.description1 {
  grid-row: 3;
  grid-column: 3/5;
  text-align: center;
  max-width: 900px;
  justify-self: center;
}

.description2 {
  text-align: center;
  font-size: 29px;
  grid-row: 5;
  grid-column: 4/6;
  justify-self: center;
  align-self: center;
  max-width: 500px;
}

.description3 {
  text-align: center;
  grid-row: 7;
  grid-column: 3/5;
  max-width: 900px;
  justify-self: center;
  align-self: center;
}

.github-link {
  align-self: first baseline;
  text-align: center;
  grid-row: 7;
  grid-column: 3/5;
  z-index: 15;
}

.bgSquare {
  position: absolute;
  top: 0;
  z-index: -10;
  padding: 0;
}

.bgSquare li {
  transform: translateY(-180vh);
  margin: 0;
  list-style-type: none;
  width: 100%;
  min-width: 100vw;
}

#bgSquare1 {
  opacity: 1;
  height: 60vh;
}

#bgSquare2 {
  margin-top: -10vh;
  opacity: 0.8;
  height: 15vh;
}

#bgSquare3 {
  margin-top: -9vh;
  opacity: 0.75;
  height: 15vh;
}

.bgAccentSquare {
  background-color: var(--logo-color);
  width: 50vw;
  height: 38vh;
  grid-row: 5/6;
  grid-column: 1/4;
  list-style: none;
  z-index: 10;
}

.bgAccentSquare2 {
  grid-row: 8;
  grid-column: 1/10;
  margin-top: 0px;
  background-color: var(--logo-color);
  width: 200%;
  height: 500px;
  z-index: 10;
}

.animate-diamonds {
  animation-name: projectBgAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.animate-project-picture {
  animation-name: projectBgAnimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.homeBgColorAnimation1 {
  animation-name: homeBgColor;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.animateNav {
  opacity: 1;
  animation-name: fallAndRotate;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.HeaderNavProjectLoad {
  animation-name: headerNavProjectLoad;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.HeaderNavMusicLoad {
  animation-name: headerNavMusicLoad;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.HeaderNavHomeLoad {
  animation-name: headerNavHomeLoad;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.ProjectTitleLoad {
  animation-name: ProjectTitleLoad;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.ProjectBodyLoad {
  animation-name: ProjectBodyLoad;
  opacity: 1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.outroNav {
  animation-name: riseAndRotate;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.clickedNav {
  transition: 1.5s;
  transform-origin: 100% 50%;
  color: var(--background-color);
  transform: rotateY(23deg);
  transform: translateX(100vw);
}

.animateHomeIntro {
  opacity: 1;
  animation-name: opacityFill;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.LeaveAnimation {
  opacity: 0;
  transform: translateY(-100px);
  animation: leaveAnimation 0.5s ease forwards;
}

.outroBodyAnimation {
  animation: bodyLeaveAnimation 1s ease forwards;
}

.introBodyAnimation {
  animation: bodyLoadAnimation 1s ease forwards;
}

.errorMessage {
  text-align: center;
  max-width: 800px;
  color: #feffff;
  font-family: "Montserrat", sans-serif;
}

@keyframes homeBgColor {
  from {
    background-color: #f3f3f3;
  }
  to {
    background-color: #bc1545;
  }
}
@keyframes homeLogoAnimation {
  0% {
    top: 10px;
  }
  100% {
    top: 800px;
  }
}
@keyframes projectLogoAnimation {
  from {
    bottom: 15vh;
  }
  to {
    bottom: 84vh;
  }
}
@keyframes headerNavHomeLoad {
  from {
    left: 55vw;
  }
  to {
    left: 5vw;
  }
}
@keyframes headerNavProjectLoad {
  from {
    left: 5vw;
  }
  to {
    left: 60vw;
  }
}
@keyframes headerNavMusicLoad {
  from {
    color: hsl(235, 15%, 15%);
    left: 5vw;
  }
  to {
    color: #f3f3f3;
    left: 60vw;
  }
}
@keyframes ProjectTitleLoad {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@keyframes ProjectBodyLoad {
  0% {
    opacity: 0;
    transform: translateY(-10vh);
  }
  75% {
    opacity: 0;
    transform: translateY(-10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}
@keyframes projectBgAnimation {
  0% {
    transform: translateY(-100vh);
  }
  70% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(-5vh);
  }
}
@keyframes fallAndRotate {
  0% {
    opacity: 0;
    transform: translateY(-200vh);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes riseAndRotate {
  from {
    opacity: 1;
    transform: rotateY(-45deg);
  }
  to {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(0) rotateY(0deg); /* Start above the viewport with rotation */
  }
  to {
    transform: translateX(100vw) rotateY(-45deg); /* End at the original position with no rotation */
  }
}
@keyframes opacityFill {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes leaveAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
@keyframes bodyLeaveAnimation {
  from {
    background-color: var(--background-color);
  }
  to {
    background-color: #f3f3f3;
  }
}
@keyframes bodyLoadAnimation {
  from {
    background-color: #f3f3f3;
  }
  to {
    background-color: #bc1545;
  }
}
@media screen and (min-height: 800px) {
  @keyframes homeLogoAnimation {
    0% {
      bottom: 84vh;
    }
    100% {
      bottom: 10vh;
    }
  }
  @keyframes projectLogoAnimation {
    from {
      bottom: 15vh;
    }
    to {
      bottom: 84vh;
    }
  }
}
@media screen and (max-height: 600px) {
  .projectTitle {
    font-size: 90px;
  }
  .projectBox {
    margin-top: 0px;
  }
  .introDegree {
    display: none;
  }
}
@media screen and (max-height: 400px) {
  .projectTitle {
    font-size: 70px;
  }
  .introDegree {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .projectTitle {
    font-size: 95px;
  }
  .introName {
    display: none;
  }
  .introDegree {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */