@use "./variables" as *;

.b-home {
  min-width: 100%;
  min-height: 500px;
  height: 100vh;
  max-height: 100vh;
  mix-blend-mode: exclusion;

  position: relative;

  &__projects {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: start;

    list-style: none;
    font-size: $projectTitleSize;
    overflow-y: hidden;

    
    &__list {
      height: 130px;
      margin: -20px 0;
      transform: translateY(0);
      animation: $repeatingList;

      a {
        text-decoration: none;
        color: $invisible;
        -webkit-text-stroke: 1px $fontColor;
        font-family: $mainFont;
        transition: .1s ease-in-out;

        &:hover {
          color: $fontColor;
          transform: translateX(100px);
        }
      }
    }
  }

  &__intro {
    position: absolute;
    bottom: 100px;
    right: 50px;
    font-family: $subFont;
    font-weight: 100;
  }
}