// Three fonts, Inter, Bebas Neue and Plaster
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plaster&display=swap");

// Colors
$backgroundColor2: #f0f4f8;
$aboutBackground: #f6f6f6fd;

$fontHighlights: #22473d;
$secondaryColor: #06c073;


$backgroundColor: var(--background-color);
$fontColor: var(--font-color);
$mainColor: var(--project-color);

//Colors I like
$red: #e1001e;
$pink: #ff0066;
$hotPink: #ff006f;
$purple: #5900ff;
$oliveGreen: #22473d;
$subittOrange: #e54c4c;
$blue: #0056b3;
$yellow: #9fa100;
$yellow2: #d4ed32;
$black: #333;
$invisible: #00000000;

// Fonts
$siteTitle: "Plaster", sans-serif;
$headerFont: "Impact", sans-serif;
$mainFont: "Inter", sans-serif;
$projectTitleSize: 100px;

$largeLetterSpacing: -10px;
$mediumLetterSpacing: -0.5vw;
$smallLetterSpacing: -1px;

// Padding and Margins
$smallPadding: 2vw;
$medPadding: 4vw;
$lrgPadding: 10vw;
