@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// Fonts
// @font-face {
//   font-family: "Impact Regular";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Impact Regular"), url("../assets/fonts/impact.woff") format("woff");
// }

// @font-face {
//   font-family: "Impact Regular";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Impact Regular"), url("../assets/fonts/unicode.impact.woff") format("woff");
// }

// @font-face {
//   font-family: "Impacted Regular";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Impacted Regular"), url("../assets/fonts/Impacted.woff") format("woff");
// }

// Colors
$backgroundColor: #ffffff;
// $backgroundColor: #EAE7DC;
$backgroundColor2: #AF1B3F;
$aboutBackground: #f6f6f6d0;

$fontColor: #333;
$fontHighlights: #22473d;
$secondaryColor: #06c073;

//Colors I like
$pink: #ff0066;
$purple: #5900ff;
$subittOrange: #e54c4c;
$blue: #0056b3;
$yellow: #FCE75B;
$yellow2: #bfca27;
$black: #333;


// Basic Colors
$lightGreen: #699abd;
$darkBlue: #0e0299;
$lightBlue:#2B6254;
$red: #be1414;
$brown: #CCB69B;
$white: #f0f0f0;
$gray: #f3f3f3;
$invisible: #00000000;

// Fonts
$mainFont: "Inter", sans-serif;
$headerFont: "Impact", sans-serif;
$subFont: "Inter", sans-serif;
$projectTitleSize: 100px;

$largeLetterSpacing: -10px;
$mediumLetterSpacing: -0.5vw;
$smallLetterSpacing: -1px;

// Padding and Margins
$smallPadding: 2vw;
$medPadding: 4vw;
$lrgPadding: 10vw;

// Animations
$marquee: 200s infinite marquee;
$reverseMarquee: 200s infinite reverseMarquee;

$increaseSize: 10s linear 1 increaseSize;
$moveDown: 50s linear infinite moveDown;
$moveDown2: 25s linear infinite moveDown;

$flickering: 1.5s linear infinite flicker;
$typing: typing 3.5s steps(20), blink 0.5s step-end infinite alternate;

// Animation Keyframes
@keyframes marquee {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(-400vw);
  }
}

@keyframes reverseMarquee {
  0% {
    transform: translateX(-50vw);
  }
  48% {
    transform: translateX(250vw);
  }
  52% {
    transform: translateX(250vw);
  }
  100% {
    transform: translateX(-50vw);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(-200vh);
  }
  100% {
    transform: translateY(-500vh);
  }
}
